In [1]:
from sklearn.datasets import load_iris
iris = load_iris(as_frame=True)
df = iris['data'].join(iris['target'])
df['target'].replace(dict(enumerate(iris['target_names'])), 
                     inplace=True)

In [2]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [3]:
df.target.value_counts()

setosa        50
versicolor    50
virginica     50
Name: target, dtype: int64

## Задание

Необходимо реализовать полный пайплайн:

1) Группировка данных с помощью датасета из torch и DataLoader

2) Реализация класса Net - сетки, состоящей из двух линейных слоев с relu между ними

3) Реализация цикла тренировки - 20 эпох и каждые 5 эпох необходимо считать метрики accuracy. Для тренировки можно выбрать любой лосс